.content-box-header
  %h3 Listing articles
.content-box-content
  = link_to 'New Article', new_admin_article_path(:id_cate=> params[:id_cate]) ,:class => 'button'
  %label
    = label_tag :category
    %select{:id => "cbx_category", :class => "category_select",}
      %option select Category
      -Category.where("parent_id IS NULL").each do |main_category|
        - if main_category.id.to_s().hash == params[:id_cate].hash
          %option{value: main_category.id, :selected => params[:id_cate]}
            =main_category.name
          -Category.where("parent_id=#{main_category.id}").each do |child_category|
            %option{value: child_category.id}
              = "-- "+ child_category.name
        - else
          %option{value: main_category.id}
            =main_category.name
          -Category.where("parent_id=#{main_category.id}").each do |child_category|
            - if child_category.id.to_s().hash == params[:id_cate].hash
              %option{value: child_category.id, :selected=> params[:id_cate]}
                = "-- "+child_category.name
            - else
              %option{value: child_category.id}
                = "-- "+child_category.name
    -#= select_tag :category_id,
    -#options_for_select(Category.where("parent_id IS NULL").all.collect{|b| [b.name,b.id]},params[:id_cate]),
    -#  :id => "cbx_category", :class => "category_select", :prompt => "Select category"
  %table
    %thead
      %tr
        %th
          %input.check-all{:type => 'checkbox'}
        %th Name
        -#- @language=Language.all
        -#- @language.each do |language|
        -#  %th
        -#    =language.language_code
        %th Actions
    %tfoot
      %tr
        %td{:colspan => '6'}
          .clear
    %tbody
      - unless @articles.nil?
        - @articles.each do |article|
          %tr
            %td
              %input{:type => 'checkbox'}/
            %td
              = link_to(article.name, admin_article_path(:id_cate=> params[:id_cate],:id => article.id))
            -#%td= article.try(:name)
            -#- @language=Language.all
            -#- @language.each do |language|
            -#  %th
            -#    - @article_language=ArticleLanguage.where(:article_id=>article.id,:language_id=>language.id).first()
            -#    -if @article_language.nil?
            -#      = link_to(image_tag('admin/icon_add.png'), new_admin_article_language_path(:id=>article.id,:id_lang=>language.id))
            -#    -else
            -#      = link_to(image_tag('admin/icon_edit.gif'), edit_admin_article_language_path(@article_language))
            %td
              / Icons
              = link_to(image_tag('admin/icon_view.gif'), admin_article_path(article))
              = link_to(image_tag('admin/icon_edit.gif'), edit_admin_article_path(:id_cate=> params[:id_cate],:id => article.id))
              = link_to(image_tag('admin/icon_delete.gif'), admin_article_path(article), :confirm => 'Are You sure?', :method => :delete)
