%section.page-title
  .title.pattern-default
    %h1
      -if @news_category.nil?
        =I18n.t("front_end.news.news")
      -else
        =@news_category.title
    %span.subtitle
      =I18n.t("front_end.news.news_description")
/ content wrapper start
#content-container
  .content-wrapper.clearfix
    / container_12 start
    .container_12
      / blog posts container start
      %ul.grid_8.content-sidebar-right
        / blog post start
        -@news_list_all.each do |row|
          %li.blog-post.clearfix{id: ""}
            %section.post-title-container
              %a{href: "/article/#{row.id}"}
                %h3= row.title
            %article.post-body
              .post-category
                %a.category-standard{href: "/article/#{row.id}"}
                  %img{alt: row.title, src: "/article_images/#{Article.where("id=#{row.article_id}").first().images}", width: "180",height:"140"}
              %p
                =row.short_description
              .btn
                %a{href: "/article/#{row.id}"}
                  =I18n.t("front_end.news.read_more")
          / blog post end
          %li.divider
      / blog posts container end
      / sidebar start
      %aside.grid_4.aside.right
        %ul.aside-widgets
          %li#list_categories_widget-2.widget.widget_list_categories_widget.clearfix
            %h5
              =I18n.t("front_end.news.news_category")
            %ul
              -@news_category_all.each do |row|
                %li
                  = link_to(row.title,news_path(:id=>row.category_id))
          %li#archives-2.widget.widget_archive.clearfix
            %h5
              =I18n.t("front_end.news.news_archive")
            %ul
              %li
                %a{href: "", title: "March 2013"} March 2013
              %li
                %a{href: "", title: "February 2013"} February 2013
              %li
                %a{href: "", title: "January 2013"} January 2013
      / sidebar end
    / container_12 end
  / content-wrapper end