%section.page-title
  .title.pattern-default
    %h1
      =I18n.t("front_end.services.services")
    %span.subtitle
      =I18n.t("front_end.services.services_descriptions")
/ page-title end
#content-container
  .content-wrapper.clearfix.multiple
    .container_12
      .grid_12
        = raw @about_my_services
        .clear
        %h4
          =I18n.t("front_end.services.services_overview")
        - @all_services.each do |service|
          .grid_4.service.omega
            .icon-container
              %a.icon-th.service-icon{href: "service/#{service.id}"}
            %a{href: "service/#{service.id}"}
              %h4= service.title
            %p= service.short_description


        .clear
=raw @slide_page_services