- if @category_language.errors.any?
  #error_explanation.notification.information.png_bg
    %div.flash-notice
      %h2
        = pluralize(@category_language.errors.count, 'error')
        prohibited this category language from being saved:
      %ul
        - @category_language.errors.full_messages.each do |msg|
          %li= msg
%fieldset
  / Set class to "column-left" or "column-right" on fieldsets to divide the form into columns
  %p
    %label
    = f.label :category
    = f.select :category_id, Category.order('name ASC').all.collect {|c| [c.name, c.id]},:selected =>"#{params[:id_cate] ? params[:id_cate] : @category_language.category.try(:id)}" ,:disabled => true,:prompt => 'Select Category'
    -#= f.select :category_id, options_from_collection_for_select(Category.order('name ASC'), :id, :name, params[:id_cate] ? params[:id_cate] : @category_language.category.try(:id)), :disabled => true, :prompt => 'Select Category'
  %p
    %label
    = f.label :language
    = f.select :language_id, Language.order('name ASC').all.collect {|c| [c.name, c.id]},:selected =>"#{params[:id_lang]? params[:id_lang] : @category_language.language.try(:id)}"
  %p
    %label
    = f.label :title
    = f.text_field :title, :class => 'text-input large-input'
