%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title= 'AtanSolutions.Com'
    = stylesheet_link_tag 'admin/application'
    = javascript_include_tag 'application'
    = javascript_include_tag 'admin/application'
    = csrf_meta_tag
  %body
    #body-wrapper
      / Wrapper for the radial gradient background
      #sidebar
        #sidebar-wrapper
          / Sidebar with logo and menu
          %h1#sidebar-title
            %a{:href => "#"} Simpla Admin
          / Logo (221px wide)
          %a{:href => "#"}
            %img#logo{:alt => "Simpla Admin logo", :src => "/assets/admin/logo.png"}/
          / Sidebar Profile links
          #profile-links
            Hello,
            = succeed "," do
              %a{:href => "#", :title => "Edit your profile"} John Doe
            you have
            %a{:href => "#messages", :rel => "modal", :title => "3 Messages"} 3 Messages
            %br/
            %br/
            %a{:href => "change_password", :title => "Change Password"} Change Password
            |
            %a{:href => "#", :title => "Sign Out"} Sign Out
          %ul#main-nav
            / Accordion Menu
            %li
              %a.nav-top-item.current{:href => "#"}
                / Add the class "current" to current menu item
                Dashboard
              %ul
                %li
                  %a{:href => "#"} Write a new Article
                %li
                  %a{:href => "#"} Manage Articles
                / Add class "current" to sub menu items also
                %li
                  %a{:href => "#"} Manage Comments
                %li
                  %a{:href => admin_categories_path} Manage Categories
                %li
                  %a{:href => admin_users_path} Manage Users
                %li
                  %a{:href => admin_languages_path} Manage Languages

          / End #main-nav
          #messages{:style => "display: none"}
            / Messages are shown when a link with these attributes are clicked: href="#messages" rel="modal"
            %h3 3 Messages
            %p
              %strong 17th May 2009
              by Admin
              %br/
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus magna. Cras in mi at felis aliquet congue.
              %small
                %a.remove-link{:href => "#", :title => "Remove message"} Remove
            %p
              %strong 2nd May 2009
              by Jane Doe
              %br/
              Ut a est eget ligula molestie gravida. Curabitur massa. Donec eleifend, libero at sagittis mollis, tellus est malesuada tellus, at luctus turpis elit sit amet quam. Vivamus pretium ornare est.
              %small
                %a.remove-link{:href => "#", :title => "Remove message"} Remove
            %p
              %strong 25th April 2009
              by Admin
              %br/
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus magna. Cras in mi at felis aliquet congue.
              %small
                %a.remove-link{:href => "#", :title => "Remove message"} Remove
            %form{:action => "#", :method => "post"}
              %h4 New Message
              %fieldset
                %textarea.textarea{:cols => "79", :name => "textfield", :rows => "5"}
              %fieldset
                %select.small-input{:name => "dropdown"}
                  %option{:value => "option1"} Send to...
                  %option{:value => "option2"} Everyone
                  %option{:value => "option3"} Admin
                  %option{:value => "option4"} Jane Doe
                %input.button{:type => "submit", :value => "Send"}/
          / End #messages
      / End #sidebar
      #main-content
        / Main Content Section with everything
        %noscript
          / Show a notification if the user has disabled javascript
          .notification.error.png_bg
            %div
              Javascript is disabled or is not supported by your browser. Please
              %a{:href => "http://browsehappy.com/", :title => "Upgrade to a better browser"} upgrade
              your browser or
              %a{:href => "http://www.google.com/support/bin/answer.py?answer=23852", :title => "Enable Javascript in your browser"} enable
              Javascript to navigate the interface properly.
        / Page Head
        %h2 Welcome John
        %p#page-intro What would you like to do?
        %ul.shortcut-buttons-set
          %li
            %a.shortcut-button{:href => "#"}
              %span
                %img{:alt => "icon", :src => "/assets/admin/icons/pencil_48.png"}/
                %br/
                Write an Article
          %li
            %a.shortcut-button{:href => "#"}
              %span
                %img{:alt => "icon", :src => "/assets/admin/icons/paper_content_pencil_48.png"}/
                %br/
                Create a New Page
          %li
            %a.shortcut-button{:href => "#"}
              %span
                %img{:alt => "icon", :src => "/assets/admin/icons/image_add_48.png"}/
                %br/
                Upload an Image
          %li
            %a.shortcut-button{:href => "#"}
              %span
                %img{:alt => "icon", :src => "/assets/admin/icons/clock_48.png"}/
                %br/
                Add an Event
          %li
            %a.shortcut-button{:href => "#messages", :rel => "modal"}
              %span
                %img{:alt => "icon", :src => "/assets/admin/icons/comment_48.png"}/
                %br/
                Open Modal
        / End .shortcut-buttons-set
        .clear
        / End .clear
        .content-box
          / Start Content Box
          = yield
        / End .content-box
        #footer
          %small
            / Remove this notice or replace it with whatever you want
            © Copyright 2009 Your Company | Powered by
            %a{:href => "http://themeforest.net/item/simpla-admin-flexible-user-friendly-admin-skin/46073"} Simpla Admin
            |
            %a{:href => "#"} Top
        / End #footer
      / End #main-content